@model Infracciones.Dto.Usuario

@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <h2>Borrar</h2>

    <h3>¿Esta seguro de borrar?</h3>
    <div>
        <h4>Usuario</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PerfilNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PerfilNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UsuarioIdAlta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UsuarioIdAlta)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UsuarioIdBaja)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UsuarioIdBaja)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActivo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActivo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Paterno)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Paterno)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Materno)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Materno)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NombreDeUsuario)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NombreDeUsuario)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contrasenia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contrasenia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContraseniaConfirmacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContraseniaConfirmacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Observaciones)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Observaciones)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaDeRegistro)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaDeRegistro)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <div class="form-actions no-color">
                <input type="submit" value="Borrar" class="btn btn-danger" /> |
                @Html.ActionLink("Regresar a la lista", "Index")
            </div>
        }
    </div>
</div>
